[submodule "wp-content/themes/Dazzling"]
	path = wp-content/themes/Dazzling
	url = https://github.com/timmd909/Dazzling.git
[submodule "wp-content/themes/tim-doerzbacher-wp-theme"]
	path = wp-content/themes/tim-doerzbacher-wp-theme
	url = https://github.com/timmd909/tim-doerzbacher-wp-theme.git
